@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    font-family: 'Poppins', sans-serif;
 }
/*.head-imag{
    display: block;
    -webkit-filter: drop-shadow(0 0 0.45rem var(--img-bg-shadow));
    filter: drop-shadow(0 0 0.45rem var(--img-bg-shadow));
}*/
:root {
  --category-link-img-fruits: #f8ff375d;
  --category-link-vegetables: #7aff375d;
}

.top-nav-link{
 color: black;
 text-decoration: none; 
 font-size: 15px; 
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.nav-dropdown-ul,
nav{
    background: linear-gradient(120deg, #eefff9 0%, #eefff9 10%,  #d5fff0 50%,#c6f4e4 90%, #c6f4e4 20%);
}

.head-banner-container{
    position: relative;
}
.absolute-containe{
    display: block;
    background-color: black;
    width: 600px;
    height: 100px;
    top: 0;
}

/* category section */
  .category-link{
    color: #000;
    text-decoration: none;
    font-size: 12px !important;

  }
  .tarn-zoom{
    transition: transform .2s ease-in-out;
     overflow: hidden;
  }
  .tarn-zoom:hover{
    transform: scale(1.2);
  }
  .category{
    transition: transform .2s ease-in-out;
  }
  .category:hover{
      transform: scale(1.2);
  }
.category-link-img-fruits:hover{
  transition: .3s ease-in-out;
    -webkit-filter: drop-shadow(0 0 0.45rem var(--category-link-img-fruits));
    filter: drop-shadow(0 0 0.45rem var(--category-link-img-fruits));
}
.category-link-vegetables:hover{
  transition: .3s ease-in-out;
    -webkit-filter: drop-shadow(0 0 0.45rem var(--category-link-vegetables));
    filter: drop-shadow(0 0 0.45rem var(--category-link-vegetables));
}

/* category section on sm & sx */

.drp-btn{
  display: block;
  background-color: #ffffff00;
  outline: none !important;
}
.ul-drp-menu{
  text-align: center;

}

.vign-cato,
.meat-cato{
  border: 1px solid #f1f1f1 !important;
  margin: 1px;
}
.vign-cato-link{
  background-color: #edffee;
}
.vign-cato:hover{
  background-color: #edffee;
  transition: .3s ease-in;
}
.meat-cato-link{
  background-color: #ffeded; 
}
.meat-cato:hover{
  background-color: #ffeded;
  transition: .3s ease-in;
}